<h1>Blog posts</h1>
<ul class='post-list'>
  <li ng-repeat='post in posts'>
    <div class='post-title'>{{post.title}}</div>
    <div class='post-content'>
      <pre>{{post.content}}</pre>
    </div>
  </li>
</ul>
<div class='pagination'>
  <div class='page'>
    <a href='#/page/{{currentPage - 1 }}' ng-hide='currentPage == 1'>
      Previous
    </a>
  </div>
  <div class='page' ng-repeat='page in [] | range:1:postInfo.post_count'>
    <a class='{{pageClass(page)}}' href='#/page/{{page}}'>
      {{page}}
    </a>
  </div>
  <div class='page'>
    <a href='#/page/{{currentPage +  1}}' ng-hide='currentPage == postInfo.post_count'>
      Next
    </a>
  </div>
</div>
