%ul.post-list
  %li{"ng-repeat" => "post in posts"}
    .post-title {{post.title}}
    .post-content
      %pre {{post.content}}

.pagination{"ng-controller" => "PostPaginationCtrl"}
  %ul
    %li{:class => "{{firstPageClass()}}"}
      %a{:href => "#/page/{{currentPage - 1 }}"}
        Previous
    %li{"ng-repeat" => "page in getPageRanges(postInfo.max_page)", :class => "{{pageClass(page)}}"}
      %a{:href => "#/page/{{page}}"}
        {{page}}
    %li{:class => "{{lastPageClass()}}"}
      %a{:href => "#/page/{{currentPage +  1}}"}
        Next