<!doctype html>
%html{"ng-app" => "post"}
  %head
    %script{:src => "http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular-resource.min.js"}
    %script{:src => "/js/lib/jquery-1.8.2.min.js"}
    %script{:src => "/js/lib/bootstrap.min.js"}
    %script{:src => "/js/spinner.js"}
    %script{:src => "/js/posts.js"}
    %script{:src => "/js/routes.js"}
    %script{:src => "/js/nav.js"}
    %script{:src => "/js/about.js"}
    %script{:src => "/js/post.js"}

    %link{:href => "/css/lib/bootstrap.min.css", :rel => "stylesheet", :type => "text/css", :media => "all"}
    %link{:href => "/css/lib/bootstrap-responsive.min.css", :rel => "stylesheet", :type => "text/css", :media => "all"}
    %link{:href => "/css/lib/docs.css", :rel => "stylesheet", :type => "text/css", :media => "all"}
    %link{:href => "/css/lib/google-prettify.css", :rel => "stylesheet", :type => "text/css", :media => "all"}

  %body{"data-spy" => "scroll", "data-target" => ".bs-docs-sidebar", "data-twttr-rendered" => true}
    #body-container
      .navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
          .container
            #spinner{"ng-show" => "ajaxLoading"}
              Loading
      %header#overview.jumbotron.subhead
        .container
          %h1 Huy Thai's blog
          %p.lead
            Currently an experimental blog about AngularJS
      #main.container
        .row
          .span3.bs-docs-sidebar{"ng-controller" => "NavCtrl"}
            %ul.nav.nav-list.bs-docs-sidenav.affix-top
              %li{"ng-repeat" => "menu in navMenu", :class => "{{navClass(menu.controller)}}"}
                %a{:href => "{{menu.href}}", :target => "{{menu.target}}"}
                  %i.icon-chevron-right
                  {{menu.text}}
          .span9{"ng-view" => ""}
